<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <a href="/">
                    <img  src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <div class="form" action="#" method="GET">
                    <div><input type="text" class="input" placeholder="Buscar productos, marcas y más"></div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="general">
            <form action="register.html" method="post" >
            <section class="registergeneral">
                <nav>
                <ul style="list-style: none;">
                <li><input type="text" class="field" placeholder="Nombre y Apellido"></li>
                <li><input type="text" class="field" placeholder="Nombre de usuario"></li>
                <li><input type="email" class="field" placeholder="E-Mail"></li>
                <li class="espacio"><h6>Fecha de nacimiento</h6></li>
                <li><input type="date" class="field" value="2002-01-09" min="1960-01-01" max="2024-01-01"></li>
                <li><input type="text" class="field" placeholder="Domicilio"></li>
                <li class="espacio"><h6>Perfil de usuario</h6></li>
                <div>
                    <input type="radio" name="buy-sell" value="yes" class="espacio">
                    <label class="espacio"> Comprador</h6>
                    <input type="radio" name="buy-sell" value="no" class="espacio">
                    <label class="espacio"> Vendedor</h6>
                </div>
                <li class="espacio"><h6>Intereses</h6></li>
                <div class="intereses">
                <li class="intereses" class="espacio"><input type="checkbox" name="interes"  id="electro"> <label> Electro</label></li>
                <li class="intereses" class="espacio"><input type="checkbox" name="interes" " id="Moda"> <label> Moda</label> </li>
                <li class="intereses" class="espacio"><input type="checkbox" name="interes"  id="Hogar"> <label> Hogar</label></li>
                <li class="intereses" class="espacio"> <input type="checkbox" name="interes"  id="Jugueteria"><label> Jugueteria</label></li>
            </div>
                <h6 class="intereses">Foto de usuario</h6><input type="file" name="FOTO" id="foto" class="intereses">

                <li><input type="password" name="Contraseña" class="field" id="Contraseña" placeholder="Escribe una contraseña"></li>
                <li><input type="password" name="Contraseña" class="field" id="Contraseña" placeholder="Repitir contraseña"></li>
                <button type="reset" class="button"> Borrar </button>
                <button type="submit" class="button">Enviar </button>

                </ul>
            </nav>
                
            </section>
        </form>
        </main>
        <footer class="general-foot">
            <div class="block-footer">
             
                <div class="icons-foot"> <i class="fas fa-credit-card" ></i></div>
                
            <h3>Paga con tarjeta o en efectivo</h3>
            <div class="foot-padding">
                Con MercadoLibreCash tenes cuotas 
                sin interes con tarjeta o efectivo
                en puntos de pago. ¡Y siempre es gratuito! 
            </div>
            
            <br>
        </div>
            <div class="block-footer">
            <div class="icons-foot"> <i class="fas fa-gift" ></i></div>
                <h3>Envio gratis desde los $2.500</h3>
            <div class="foot-padding">
                Solo por estar registrado en mercado libre tenes envios gratis en todos los productos,
                 es un beneficio de MercadoPuntos</div>
                 <br>
                </div>
                <div class="block-footer">
                 <div class="icons-foot">  <i class="fas fa-user-shield" ></i></i></div>
                 <h3>
                    Seguridad de principio a fin
                 </h3>
                 <div class="foot-padding">¿no te gusta? ¡devolvelo! En MercadoLeibre no hay nada
                    que no puedas hacer porque esta siempre protegid@  </div>
                </div>
        </footer>
    </body>
    <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</html>
    </body>
</html>